img#logo{
	position: relative;
	margin-left: 3;
	width: 414;	
	margin-top: 10;
}
header{
	width: 420;
	margin:auto;
	padding-top: 20;
}
body{
	margin: 0;
	width: 100%;
	background-color: white;
	padding: 0;
	
}

div#body{
	margin:auto;
	width:500px;
	background-color:lightgreen;
	border: #8BC34A;
	border-width: 3px;
	border-style: solid;
}

div.menubar{ /* This is the holding box for the menu bar */
	position:relative;
	margin:auto;
	margin-top: 20px;
	background: #4CAF50;
	border-radius:8px;
}

ul.menulink{ /* This is where a majority of the info goes, this is the "list" of links */
	position:relative;
	text-align:center;
	list-style-type:none;
	padding-left: 0;
	height: 30px;
	width: 414px;
	border-radius:8px;
}

li.menulink, a.menulink,a:visited{ /* define how the menubar links look */
	display:inline;
	text-decoration:none;
	font-family:helvetica;
	text-transform:uppercase;
	font-weight:bold;
	padding-left: 4px;
	padding-right: 4px;
	padding-top:3px;
	color: white;
}

div.body{
	width: 414px;
	margin:auto;
	margin-top: 40;
	margin-bottom: 20px;
	padding: 18px;
	background: rgba(0, 0, 0, 0.64);
	border-radius:8px;
}

h {
	font-family:sans-serif;
	font-size: 30pt;
	color:whitesmoke;
	padding-left:30px;

}

p {
	color:whitesmoke;
}

a{
	text-decoration:none;
	color: rgb(76, 175, 80);
	font-weight: bold;
	font-family: sans-serif;
}

a.button {
    border-color: red;
    background-color: rgb(76, 175, 80);
    padding: 8px;
    border-radius: 8px;
}
