img#logo {
	position: relative;
	margin-left: 33px;
	width: 414px;
	margin-top: 18px;
}

header {
	width: 399px;
	margin: 8;
	padding-top: 0;
}

body {
	margin: 0;
	width: 100%;
	background-color: #90EE90;
	padding: 0;
}

div#body {
	margin: auto;
	width: 414;
	margin-top: 0;
	background-color:lightgreen;
	border: #8BC34A;
	border-width: 01;
}

div.menubar { /* This is the holding box for the menu bar */
	position: relative;
	margin: auto;
	margin-top: 9px;
	background: #4CAF50;
	border-radius:8px;
}

ul.menulink { /* This is where a majority of the info goes, this is the "list" of links */
	position:relative;
	text-align:center;
	list-style-type:none;
	padding-left: 0;
	height: 30px;
	width: 399px;
	border-radius: 8px;
}

li.menulink,
a.menulink,
a:visited { /* define how the menubar links look */
	display: inline;
	text-decoration: none;
	font-family: helvetica;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 3px;
	padding-right: 3px;
	color: white;
}

div.body {
	width: 363px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 8px;
	padding: 18px;
	background: rgba(0, 0, 0, 0.64);
	border-radius:8px;
}

h {
	font-family: sans-serif;
	font-size: 34px;
	color:whitesmoke;
}

p {
	color: whitesmoke;
	font-family: sans-serif;
	line-height: 1.4em;
}

a {
	text-decoration:none;
	color: rgb(76, 175, 80);
	font-weight: bold;
	font-family: sans-serif;
}

a.button {
    border-color: red;
    background-color: rgb(76, 175, 80);
    padding: 8px;
    border-radius: 8px;
}
