
<div class="attendant-spots-left">{{cars}}</div>
<button class="attendant-check-reservations">Check Reservations</button>
<div class="attendant-buttons">
    <button class="attendant-car-in">^</button>
    <button class="attendant-car-out">v</button>
</div>
<button class="attendant-log-on">log on</button>