
<div class="attendant-spots-left"><span>{{cars}}</span></div>
<div class="attendant-reservations"><a href="#attendant/reservations"><span>4</span></a></div>

<div class="attendant-buttons">
    <button class="attendant-car-in">^</button>
    <button class="attendant-car-out">v</button>
</div>
<button class="attendant-log-on">log on</button>