<div class="business-page">
  <form class="business-create-form">
    <h3 class="business-name-text">Unique Name for Lot</h3>
    <input type="text" class="business-name-create create-input" placeholder="Lot Name">

    <h3 class="business-address-text">Lot Address: Be Specific</h3>
    <input type="text" class="business-address-create create-input" placeholder="Ex: 101 North Main Street Greenville, SC 29605" required="required">

    <h3 class="business-spaces-text">Number of Available Parking Spaces</h3>
    <input type="number" class="business-available-spaces-create create-input" required="required" placeholder="Ex: 24">

    <h3 class="business-hours-text">Business Hours</h3>
    <input type="text" class="business-hours-create create-input" placeholder="Ex: 8:00am to 6:00pm" required="required">

    <h3 class="business-price-text">Price per Space</h3>
    <input type="text" class="business-price-create create-input" required="required"  placeholder="Ex: 5.00">

    <input type="submit" class="business-form-submit" value="Add Your Lot">
  </form>
</div>
