<div class="business-page">
  <form class="business-search">
    <input type="text" class="company-name-input" placeholder="Enter Company Name" autocomplete="on" autofocus="on">
    <input type="submit" class="search-input" value="Search">
  </form>
  <a href="#/business/create"><button class="create-new-model">Register New Lot</button></a>
  <section class="company-results"></section>
</div>
