<section class="business-content">
  <form class="business-form">
    <h3 class="business-name-text">Unique Name for Lot</h3>
    <input type="text" class="business-name-input" placeholder="Lot Name">
    <h3 class="business-address-text">Lot Address: Be Specific</h3>
    <input type="text" class="business-address-input" placeholder="Ex: 101 North Main Street Greenville, SC 29605">
    <h3 class="business-spaces-text">Number of Available Parking Spaces</h3>
    <input type="number" class="business-available-spaces-input">
    <h3 class="business-hours-input">Business Hours</h3>
    <input type="text" class="business-hours-input" placeholder="Ex: 8:00am to 6:00pm">
    <h3 class="business-price-text">Price per Space</h3>
    <input type="text" class="business-price-input">
  </form>
</section>
