{{log this}}

<div class="lot-map">
	 
</div>
<div id="map-canvas"></div>
<div class="lot-price">
	<h3 class="lot-price-text">$ 5</h3>
</div>
<div class="lot-reservation">
	<button class="lot-reservation-action">Reserve</button>
</div>