<div class="user-container">
	<div id="map-canvas"></div>
	<div class="lot-specifics">
		<h2 class="lot-title">A place to Park</h2>	
		<p class="lot-address">111 BFE Blvd. Greenville, SC</p>
		<p class="lot-price">$ 5</p>
		<form class="lot-reservation-form">
			<button class="lot-reservation-form-submit">Reserve!</button>
		</form>
	</div>
</div>