<div class="user-container">
	<div id="map-canvas"></div>
	<div class="lot-specifics">
		<i class="fa fa-close"></i>
		<h2 class="lot-title"></h2>	
		<p class="lot-address"></p>
		<p class="lot-price"></p>
		<a href="#confirmation" class="lot-reservation-form-submit">Reserve!</a>
	</div>
</div>