@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}
.attendant-spots-left{
  font-size: 5em;
  position: absolute;
  top: 60px;
  left: 45px;

}
.attendant-spots-left:before {
  content: 'Available';
  font-size: .2em;
  position: absolute;
  top: -10px;
  left: 10px;
}
.attendant-reservations {
  font-size: 5em;
  position: absolute;
  top: 220px;
  left: 45px;
  
}
.attendant-reservations:before{
  content: 'Reserved';
  color: black;
  font-size: .2em;
  position: absolute;
  top: -10px;
  left: 10px;
}
.attendant-reservations a {
  color: maroon;
  text-decoration: none;;
}
.attendant-container {
  width: 414px;
  height: 450px;
  padding-right: 85px;
  background-color: $very-light-gray;
  position: relative;

}
.attendant-car-in,
.attendant-car-out{
  height: 100px;
  width: 100px;
  margin-top: 55px;
  border: 2px solid black;
  border-radius: 50%;
  display: block;


}
.attendant-buttons{
  position: absolute;
  right: 55px;
}
.attendant-log-on {
  width: 110px;
  height: 45px;
  position: absolute;
  bottom: 20px;
  left: 50px;

}

.attendant-lock-page {
  width: 110px;
  height: 45px;
  position: absolute;
  bottom: 20px;
  right: 50px;

}


